<% layout("layouts/boilerplate.ejs") -%>
<body>
    <div class="row">
        <div class="col-8 offset-1">
        <br><br>
    <form method="POST" action = "/listings" novalidate class = "needs-validation" enctype="multipart/form-data">
        <div class="mb-3">
        <label for="title" class="form-label">Title</label>
        <input id = "title" type="text" name="Listing[title]" class="form-control">
        </div>
        <div class="mb-3">
        <label for="description" class="form-label">Description</label>
        <textarea id="description" name="Listing[description]" class="form-control" ></textarea>
        </div>
        <div class="mb-3">
            <label for="image" class="form-label"> Upload Image</label>
            <input id="image" type="file" name = "Listing[image]" class="form-control">
            </div>
        <div class="row">
            <div class="mb-3 col-md-4">
                <label for="price" class="form-label">Price</label>
                <input id = "price" name="Listing[price]" class="form-control">
            </div>
            <div class="mb-3 col-md-8">
                <label for="country" class="form-label">Location</label>
                <input id = "country" type="text" name="Listing[location]" class="form-control">
            </div>
        </div>
        
       <div class="mb-3">
        <label for="location" class="form-label">Country</label>
        <input id = "location" type="text" name="Listing[country]" class="form-control" required><br>
       </div>
       
        <button class="btn btn-dark add-btn">Add</button>
        <br><br>

</div>
</div>
</form>
</body>
